<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main3.css'%}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="main_heading">
                <h1 class="heading">EVENT MANAGEMENT SYSTEM</h1>
            </div>
        </nav>
    </header>
    <container>
        <div class="main_nav_items">
            <div class="nav_items">
                <button class="button1">Home</button>
                <button class="button1">Dashboard</button>
                <button class="button1">Calender</button>
                <button class="button1">Events</button>
            </div>
        </div>
        <div class="heading">
            <div class="name">
                <h3>EVENTS</h3>
            </div>
        </div>
        <div class="btnlogout">
            <div class="btnlogout2">
                <button class="button1">Logout</button>
                <button class="button1">Settings</button>
            </div>
        </div>
    </container>
    <div class="explore__menu">
        <div class="food__card__dis">
            <h3 class="food__title">MARRAGE EVENTS</h3>
            <p>dnr colony,kanuru,vijayawada<span style="color: #D83A56;">+3</span></p>
        </div>
        <div class="food__card__dis">
            <h3 class="food__title">PARTY EVENT</h3>
            <p>dnr colony,kanuru,vijayawada<span style="color: #D83A56;">+2</span></p>
        </div>
        <div class="food__card__dis">
            <h3 class="food__title">BIRTHDAY EVENTS</h3>
            <p>dnr colony,kanuru,vijayawada<span style="color: #D83A56;">+2</span></p>
        </div>
        <div class="food__card__dis">
            <h3 class="food__title">BUSINESS MEETINGS </h3>
            <p>dnr colony,kanuru,vijayawada<span style="color: #D83A56;">+2</span></p>
        </div>    
    </div>
</body>
</html>